<div class="w-[90vw] mx-auto">
    <div class="flex justify-center h-24">
        <h1 class="text-3xl"><%= title %></h1>
    </div>
    <div class="mb-4"><a href="/galeri/add" class="px-4 py-2 rounded-lg bg-blue-200 border-2 border-blue-500">Tambah gambar</a> </div>
    <% if (!photos.length) { %>
        <div>galeri kosong</div>
        <% }  %>
        <div>Total: <%= photos.length %> </div>
        <table class="border-collapse border border-slate-400">
            <thead>
               <tr class="bg-slate-200">
                   <th class="p-2 border border-slate-400"> Judul</th>
                   <th class="p-2 border border-slate-400">nama file gambar</th>
                   <th colspan="2" class="p-2"></th>
               </tr>
            </thead>
            <tbody>

                <% photos.forEach(photo => {   %>
                <tr class="border border-slate-400">
                    <td class="border border-slate-400"><p class="text-lg"><a href="/galeri/<%= photo.id %>"><%= photo.judul %></p></a></td>
                    <!-- <td class="border border-slate-400"><p class="text-lg"> <%= photo.gambar %></p></td> -->
                    <td class="border border-slate-400"><p class="text-lg"><a href="img/galeri/<%= photo.gambar %>"><%= photo.gambar %></a> </p></td>
                    <td>
                        <a href="/galeri/edit/<%= photo.id %>">Edit</a>
                    </td>
                    <td>
                        <form action="/galeri/<%= photo.id %>?_method=DELETE" method="post" >
                            <button type="submit" onclick="return confirm('yakin?')">Hapus</button>
                        </form>
                    </td>
                </tr>
                <% })  %>
            </tbody>
        </table>
</div>