<div class="w-[90vw] mx-auto">
    <div class="flex justify-center h-24">
        <h1 class="text-3xl"><%= title %></h1>
    </div>
    <!-- flash message -->
    <% if (msgSucces && msgSucces.length > 0) { %>
    <div class="bg-green-200 my-3 py-4 px-3 border border-green-400">
        <p><%= msgSucces[0] %></p> <!-- msg[0] karena msg adalah array -->
    </div>
    <% } %>

    <div class="mb-4"><a href="/galeri/add" class="px-4 py-2 rounded-lg bg-blue-200 border-2 border-blue-500">Tambah data galeri</a> </div>
    <% if (!galeries.length) { %>
        <div>galeri kosong</div>
        <% }  %>
        <div>
            <div>Total: <span id="galeriLength"> <%= galeries.length %> </span></div>
            <div>
            <% if (galeries.length) { %>
                <form action="/galeri?_method=DELETE" method="post">
                    <button id="hpsAll" type="submit" onclick="return confirm('yakin?')">Hapus semua</button>
                </form>
            <% } else { %>
                <p class="text-slate-300">Hapus semua</p>
            <% } %>
            </div>
        </div>
        <table class="w-full border-collapse border border-slate-400">
            <thead>
               <tr class="bg-slate-200">
                    <th class="w-14 p-2 border border-slate-400"></th>
                    <th class="p-2 border border-slate-400 w-[20%]">gambar</th>
                    <th class="p-2 border border-slate-400"> Judul</th>
                    <th colspan="2" class="p-2 w-[20%]"></th>
               </tr>
            </thead>
            <tbody>
                <% galeries.forEach((galeri, i) => { i++   %>
                <tr class="border border-slate-400">
                    <td class="border border-slate-400 text-center"><p class="text-lg"><%= i %></p></td>
                    <td class="border border-slate-400">
                         <div class="flex gap-2">
                             <% for( let index = 0; index < galeri.gambar.length; index++ ) { %>
                                <a href="/img/galeri/data/<%= galeri.gambar[index] %>" target="_blank">
                                    <div class="w-14">
                                        <img src="/img/galeri/data/<%= galeri.gambar[index] %>" alt="<%= galeri.gambar[index] %>" class="w-full object-cover aspect-square">
                                    </div>
                                </a>
                             <% } %>
                         </div>
                    </td>

                    <td class="border border-slate-400"><p class="text-lg"><a href="/galeri/<%= galeri.id %>"><%= galeri.judul %></p></a></td>
                    <td class="text-center">
                        <!-- <a href="/galeri/edit/<%= galeri.id %>">Edit</a> -->
                        <a href="/galeri/edit/<%= galeri.id %>">Edit</a>
                    </td>
                    <td class="text-center">
                        <form action="/galeri/<%= galeri.id %>?_method=DELETE" method="post" >
                            <button type="submit" onclick="return confirm('yakin?')">Hapus</button>
                        </form>
                    </td>
                </tr>
                <% })  %>
            </tbody>
        </table>
</div>