<div class="w-[90vw] mx-auto">
    <div class="flex justify-center h-24">
        <h1 class="text-3xl"><%= title %></h1>
    </div>
    
    <div class="mb-10"><p>hai, <%= name %></p></div>
    <% if (!galeries.length) { %>
    <div class="py-3 flex flex-col gap-2 ">
            <div><p> galeri kosong</p></div>
            <div class="flex items-center"><a href="/galeri/add" class="px-4 py-2 rounded-lg bg-blue-200 border-2 border-blue-500">Tambah data galeri</a> </div>
    </div>
    <% }  %>

        <div class="grid grid-cols-3 gap-2 mb-4">
            <% galeries.forEach(galeri => {   %>
            <div >
                <div class="border border-slate-500 p-2"><a href="/galeri/<%= galeri.id %>"> <img src="/img/galeri/<%= galeri.gambar[0] %>" alt="<%= galeri.gambar[0] %>" class="w-full aspect-square object-cover"></a></div>
            </div>
            <% })  %>
        </div>
</div>